@font-face {
    font-family: 'Triptych Roman';
    src: url(/assets/type/triptych_roman.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Triptych Italick';
    src: url(/assets/type/triptych_italick.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Triptych Grotesque';
    src: url(/assets/type/triptych_grotesque.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 1.25rem;
    --medium-gap: 1.75rem;
    --big-gap: 3rem;
    --x-big-gap: 4rem;
    --max-width: 40rem;
    --body: 'Triptych Roman', system-ui, sans-serif;
    --heading: 'Triptych Grotesque', system-ui, sans-serif;
    --italic: 'Triptych Italick', system-ui, sans-serif;
    --paragraph: calc(1.05rem + .2vw);
    --subheading: calc(1.125rem + .2vw);
    --card-title: calc(1.3rem + 1px);
    --info: calc(var(--card-title) * .8);
    --tag: calc(var(--card-title) * .6);
    --heading-1: calc(1.4rem + .65vw);
    --heading-2: calc(var(--heading-1) * .9);
    --heading-3: calc(var(--heading-1) * .8);
    --small-icon: calc(19px + .25vw);
    --big-icon: calc(38px + .35vw);
    --primary: 22, 23, 24;
    --box-border: 163, 163, 163;
    --quote-border: 211, 211, 211;
    --web-writing-accent: 15, 128, 159;
    --content-writing-accent: 0, 102, 0;
    --marketing-accent: 226, 81, 115;
    --tech-accent: 99, 62, 126;
    --feature-accent: 25, 25, 157;
    --background: 251, 250, 247;
}

.web-writing {
    --accent: var(--web-writing-accent);
}

.content-writing {
    --accent: var(--content-writing-accent);
}

.marketing {
    --accent: var(--marketing-accent);
}

.tech {
    --accent: var(--tech-accent);
}

.feature {
    --accent: var(--feature-accent);
}

.dark-mode {
    --primary: 255, 250, 240;
    --box-border: transparent;
    --quote-border: 163, 163, 163;
    --tech-accent: 215, 202, 225;
    --web-writing-accent: 96, 182, 206;
    --marketing-accent: 255, 192, 202;
    --content-writing-accent: 98, 194, 98;
    --feature-accent: 80, 173, 215;
    --background: 22, 23, 24;
}

.blueprint {
    --primary: 66, 59, 119;
    --quote-border: 66, 59, 119;
    --tech-accent: 66, 59, 119;
    --web-writing-accent: 66, 59, 119;
    --marketing-accent: 66, 59, 119;
    --content-writing-accent: 66, 59, 119;
    --feature-accent: 66, 59, 119;
    --background: 215, 224, 210;
}

.grayscale {
    --primary: 40, 32, 39;
    --quote-border: 40, 32, 39;
    --tech-accent: 40, 32, 39;
    --web-writing-accent: 40, 32, 39;
    --marketing-accent: 40, 32, 39;
    --content-writing-accent: 40, 32, 39;
    --feature-accent: 40, 32, 39;
    --background: 228, 228, 228;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

*+* {
    margin-block-start: var(--gap);
}

p+h2,
ul+h2,
p+h3,
li+li h3 {
    margin-block-start: var(--big-gap);
}

.margins-off>* {
    margin-block-start: 0;
}

html {
    font-size: 16px;
}

body {
    z-index: 0;
    min-height: 100vh;
    min-height: 100dvh;
    margin: unset;
    font-family: var(--body);
    font-size: var(--paragraph);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: rgb(var(--primary));
    background-color: rgb(var(--background));
}

main {
    display: flex;
}

.left {
    flex: 1;
    position: sticky;
    top: 0;
    z-index: 3;
    height: 100vh;
    height: 100dvh;
    box-shadow: inset -7px 0 0 rgb(var(--primary));
    animation: fadeIn 1.5s ease forwards;
    -webkit-animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: rgb(var(--background));
}

.words-inner {
    max-width: var(--max-width);
    padding: 4rem 1rem;
}

.description {
    margin-block-start: var(--medium-gap);
    margin-block-end: var(--medium-gap);
    font-family: var(--italic);
    font-size: var(--subheading);
}

.byline {
    display: flex;
    align-items: center;
    font-size: calc(var(--paragraph) * 1.1)
}

.dot {
    width: auto;
    height: calc(13px + .25vw);
    margin-right: 4px;
}

.info {
    margin-block-end: var(--big-gap);
    font-size: var(--info);
}

.info svg {
    width: auto;
    height: calc(14px + .2vw);
    margin-bottom: -1px;
}

a {
    color: rgb(var(--primary));
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(var(--accent));
    text-decoration-skip-ink: all;
    text-underline-offset: 2px;
}

@media (hover:hover) and (pointer:fine) {
    a:not(.link a):hover,
    button:hover {
        opacity: .7
    }
}

b {
    font-family: var(--heading);
}

em,
.italic {
    font-family: var(--italic);
}

h3 {
    font-family: var(--heading);
    font-size: var(--heading-3);
    font-weight: bold;
    font-style: normal;
    line-height: 1.3;
    color: rgb(var(--primary));
}

h2 {
    font-family: var(--heading);
    font-size: var(--heading-2);
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    color: rgb(var(--primary));
}

h1 {
    font-family: var(--heading);
    font-size: var(--heading-1);
    font-weight: bold;
    line-height: 1.2;
    font-style: normal;
    color: rgb(var(--primary));
}

.just-a-list {
    list-style: none;
}

.fancy-pants-list {
    list-style: decimal;
    list-style-position: inside;
}

.dropcap::first-letter {
    float: left;
    padding: .325rem .5rem .75rem 0;
    font-family: var(--heading);
    font-size: 7rem;
    font-weight: bold;
    line-height: 5rem;
    color: rgb(var(--primary));
}

.box {
    border-radius: .25rem;
    box-shadow: rgb(var(--box-border)) 0 2px 6px 0;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
    padding: 1rem;
    color: rgb(var(--background));
    background: rgb(var(--accent));
}

.blockquote {
    margin-inline-start: .15rem;
    padding-left: 1.5rem;
    border-left: 5px solid rgb(var(--quote-border));
}

.pull-quote {
    margin-block-start: var(--x-big-gap);
    margin-block-end: var(--x-big-gap);
}

.pull-quote h2 {
    font-family: var(--italic);
    font-size: var(--heading-1);
}

.divider {
    margin-block-start: var(--big-gap);
    margin-block-end: var(--big-gap);
}

hr {
    height: 5px;
    margin-block-start: var(--big-gap);
    margin-block-end: var(--big-gap);
    background: rgb(var(--primary));
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacer {
    display: inline-block;
    width: .75rem;
}

.thin-spacer {
    display: inline-block;
    width: .5rem;
}

#coda {
    margin-block-start: 4rem;
    margin-block-end: 6rem;
    text-align: center;
}

.thumbs-up {
    width: auto;
    height: var(--big-icon);
}

footer.slider {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: unset;
    width: 50%;
    height: 4rem;
    padding: 0 1rem;
    box-shadow: inset 0 7px 0 rgb(var(--primary));
    background: rgb(var(--background), .95);
}

footer .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: calc(var(--max-width) - 2rem);
    margin: .5rem auto 0
}

footer .buttons div {
    display: flex;
    flex: 1;
}

footer .buttons div:nth-child(2) {
    justify-content: center
}

footer .buttons div:nth-child(3) {
    justify-content: flex-end
}

.slider button,
.slider .button {
    font-family: var(--heading);
    font-size: var(--heading-3);
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
}

.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity .3s ease, transform .3s ease;
}

.hidden.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width:768px) {
    main {
        display: block
    }
    .left {
        position: relative;
        height: 50vh;
        box-shadow: inset 0 -7px 0 rgb(var(--primary))
    }
    footer.slider {
        width: 100%
    }
}