body {
    padding: 4rem 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;
}

.intro span {
    display: block;
    margin-block-start: .75rem
}

h1.site-title {
    font-size: calc(var(--paragraph) * 1.8);
}

.description {
    margin-block-end: var(--gap);
    font-size: calc(var(--paragraph) * 1.02)
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--x-big-gap);
    align-items: stretch;
    width: 100%;
    margin-block-start: var(--x-big-gap);
}

.grid a {
    text-decoration: none
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    overflow: hidden;
    border: 1px solid #DDD;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .05);
    background: rgb(var(--accent), .05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: var(--gap);
}

.card-content *+* {
    margin-block-start: var(--medium-gap);
}

.tag {
    display: inline-block;
    max-width: fit-content;
    padding: .25rem .75rem;
    border: 1.5px solid rgb(var(--accent));
    border-radius: 90px;
    font-family: var(--body);
    font-size: var(--tag);
    color: rgb(var(--accent));
    background-color: rgb(var(--accent), .1);
    filter: brightness(.75);
}

.card-content h2 {
    font-family: var(--paragraph);
    font-size: var(--card-title)
}

.time {
    display: flex;
    align-items: center;
    margin-block-end: var(--medium-gap);
    font-size: var(--info);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: "tnum" 1, "lnum" 1;
    -webkit-font-feature-settings: "tnum" 1, "lnum" 1;
}

.numeral.narrow {
    letter-spacing: -.2ch;
}

.clock {
    width: 1em;
    height: auto;
    margin-right: 4px;
}

.clock circle {
    fill: rgb(var(--accent), .1);
}

.time-info,
.time-info > span {
    margin-block-start: 0;
}

.portfolio-link {
    display: flex;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    padding: 0 .5rem;
    border-radius: 90px;
    background: rgb(var(--background));
}

.portfolio-link a {
    text-decoration: none;
}

.arrow-up {
    width: 1.15em;
    height: auto;
    vertical-align: text-bottom;
}

.contact-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-block-start: var(--x-big-gap);
}

.contact-links > div {
    align-items: center;
}

.contact-links span a {
    display: flex;
    line-height: 1;
}

.socials {
    width: auto;
    height: .8em
}

.copyright {
    margin-right: 2px;
    vertical-align: middle;
}